<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>node-sass-teambit</title>

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

		<!-- Vue-JS -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

		<!-- AGGIUNGERE I/IL PERCORSO/I DI CSS -->
		<link rel="stylesheet" href="./dist/css/style.css">
	</head>

	<body>

		<div id="app">

			<header>
				
				<nav>
					<img src="dist/img/logo.svg" alt="logo teambit">

					<div>
						<ul>
							<li>solutions <i class="fas fa-chevron-down"></i></li>
							<li>pricing</li>
							<li>blog</li>
							<li>sign in</li>
						</ul>
	
						<button type="submit">
							<img src="dist/img/google-logo.svg" alt="logo google">
							Sign up
						</button>
					</div>

					<div class="hamburger_wrap">
						<i class="fas fa-bars" ></i>
					</div>
				</nav>

				<div class="jumbotron">

					<div class="side_left">

						<h1>Understand, recognize <br> and develop your <br> people</h1>
						<p>Teambit helps teams create a high performing <br> culture with regular feedback.</p>
						
						<button type="submit">
							<img src="dist/img/google-logo.svg" alt="logo google">
							sign up with google
						</button>

						<span>or</span>

						<button type="submit">
							<img src="dist/img/slack-logo.svg" alt="logo slack">
							sign up with slack
						</button>

						<a href="">or use your email address<i class="fas fa-arrow-right"></i></a>
					</div>

					<div class="side_right">
						<img src="dist/img/illustration-main.jpg" alt="immagine del jumbotron">
					</div>
				</div>
			</header>

			<main>

				<div class="traditional">

					<h2>Traditional people processes lead to <br> diseingagement and turnover.</h2>

					<div class="cards_container">
					
						<div class="card">
							<img src="dist/img/hardcore.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>

						<div class="card">
							<img src="dist/img/nofeedback.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>

						<div class="card">
							<img src="dist/img/notsafe.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>
					</div>

					<img class="upper" src="dist/img/before.png" alt="">

					<h2>It doesn't have to be like that. Teambit is a <br> modern solution that teammates love.</h2>

					<div class="cards_container">
					
						<div class="card">
							<img src="dist/img/lightweight.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>

						<div class="card">
							<img src="dist/img/feedbacksuggestions.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>

						<div class="card">
							<img src="dist/img/safe.png" alt="">
							<p>They are hardcore, formal and disconnected</p>
						</div>
					</div>

					<img src="dist/img/after.png" alt="">
					<h2>Here is how it works</h2>
				</div>
			</main>

			<footer>

				<div class="user_advice">

					<img src="dist/img/logo-small.svg" alt="teambit smile logo">
					<a href="">Teambit</a>
					<p>helps team create high performing cultures by making feedback a daily habit.</p>
				</div>

				<div class="link_side">

					<div class="links" v-for="section in footer.linkList">
						<h3>{{section.title}}</h3>
						<ul>
							<li v-for="link in section.links">{{link}}</li>
						</ul>
					</div>
				</div>
			</footer>
		</div>

		<!-- JS -->
		<script type="text/javascript" src="./dist/js/main.js"></script>
	</body>
	
</html>