footer{
    display: flex;
    padding: 50px 100px;
    .user_advice {
        width: 30%;
        img {
            position: relative;
            top: 5px;
        };
        a {
            text-decoration: none;
        };
        p {
            display: inline;
        };
    };
    .link_side {
      width: 70%;
      display: flex;
        .links {
            width: 20%;
            h3 {
                margin-bottom: 30px;
            };
            ul {
                list-style: none;
            };
        };
    };
}